:root{
    --main-maroon: #CE5959;
    --deep-maroon: #89375F;
}
td,th{
    text-align:center;
}
td img{
    margin-left:auto;
    margin-right:auto;
}
.delete-icon{
    color:var(--bittersweet);     
    cursor: pointer; 
}
.child-register-btn {
    margin-top:20px;
    width:85%;
    margin-left:auto;
    margin-right:auto;
}
.child-register-btn button {
    width: 350px;
    height: 60px;
    background-color: var( --main-maroon);
    box-shadow: 0px 0px 4px #615f5f;
    line-height: 60px;
    color: #FFFFFF;
    margin-left: auto;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
}
@media screen and (max-width: 794px) {
    .child-register-btn {
        margin-top:30px;
    }
    .child-register-btn p {
        width: 100%;
    }
}